@import './base.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--pet-primary-dark);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--pet-primary-light);
    border-radius: 4px;
  }
}

@media (min-width: 1024px) {
  #app {
    width: 100%;
    padding: 0;
  }
}
